{% extends "./base.html" %}

{% block content %}
    <center><h1>HELLO WORLD</h1></center>
    <center>
        <img 
            src="{{ url_for('static', filename='images/pushup.png') }}" 
            alt="The Pushup Guy"
            height="200px"
        />
    </center>
    <center>
        {% if current_user.is_authenticated %}
        <h1>Hello {{ user.name }}</h1>
        <div>
            <table class="table table-hover" style="width: 800px;">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Number of Push-Ups</th>
                  <th scope="col">Performed At</th>
                  <th scope="col">Comments</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for workout in workouts.items %}
                <tr>
                  <td>{{ workout.pushups }}</td>
                  <td>{{ workout.date_posted.strftime('%m/%d/%Y') }}</td>
                  <td>{{ workout.comment }}</td>
                  <td><a href="{{ url_for('main.update_workout', workout_id=workout.id) }}" class="btn btn-outline-primary" role="button">Edit</a></td>
                  <td><a href="{{ url_for('main.delete_workout', workout_id=workout.id) }}" class="btn btn-outline-danger" role="button">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% for page_num in workouts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
              {% if page_num %}
                {% if workouts.page == page_num %}
                  <a href="{{ url_for('main.index', page=page_num) }}" class="btn btn-info mb-4">{{ page_num }}</a>
                {% else %}
                  <a href="{{ url_for('main.index', page=page_num) }}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
                {% endif %}
              {% else %}
                ... 
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
    </center>
{% endblock %}